.table-container {
  max-width: 100%;
  max-height: 50%;
  margin: 30px;
}

#table_filter {
  text-align: center !important;
}
#table_filter label {
  width: 80%;
}
#table_filter input {
  width: 100%;
}

.dataTables_scrollHead {
  text-align: center;
}

.dataTables_scrollBody {
  text-align: center;
}

.dataTables_length {
  float: right;
}

.dataTables_scroll {
  overflow-x: auto;
}

.dataTables_scrollHead {
  overflow: visible !important;
}

.dataTables_scrollBody {
  overflow: visible !important;
}

@media only screen and (max-width: 600px) {
  #table_filter label {
    width: 100%;
  }
  #add-button {
    width: 100%;
    margin: 6px;
  }
}

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url("../images/loader.gif") no-repeat center center;
  z-index: 9999;
}
